.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    height: 150px;
}
body{
    background-color: #F6EBFF;
    margin: 0 !important;
    direction: rtl;
}
.enter{
    width: 11%;
    display: flex;
    justify-content: center;

}
.enter button{
    height: 40px;
    width: 70px;
    border: 1px solid #03319b;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #03319b;
}
.options{
    width: 11%;
    border-left: 1px solid #FF9342;
    display: flex;
    align-items: center;
    justify-content: space-around;  
}
.last{
    border:  none !important;
}
.logo{
    width: 12%;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}
.input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input input{
    width: 50%;
    height: 50px;
    border-radius: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border:none !important
}
.site-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 200px;
    border-radius: 16px;
    background-color: #8057a47a;
    justify-content: center;
    margin: 1rem;
}
.cards img{
    margin-bottom: 3rem;
}
.appointment,.doctor-list, .specialty{
    margin: 4rem 12rem 0 0;
}
.appointment h1,.slider-card h4, .appointment .show-more{
    color: #FF8E3A;
    font-weight: 700;
}
.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.slider-card, .doctor-card{
    display: flex;
    width: 20%;
    height: 270px;
    border: 1px solid #FF8E3A;
    background-color: #ffb47c85;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem 1rem;
}
.first{
    margin-right: 0 !important ;
}
.slider-card button, .doctor-card button{
    width: 150px;
    height: 30px;
    border-radius: 12px;
    background-color: #FF8E3A ;
    border: none !important;
    color: #fff;
}
.info{
    
    margin:0 0 5px 0 !important;
}
.doctor-card{
    border: 1px solid #8E7CFF;
    background-color: #8d7cff6a;
}
.doctor-card button{
    background-color: #4361FF;
}

.doctor-list h1,.doctor-card h4, .doctor-list .show-more{
    color: #8E7CFF;
    font-weight: 700;
}
.specialty-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #7f56a774;
    border-radius: 32px;
    margin: 4rem 0 2rem 12rem;
    padding: 2rem;


}
.specialty h2, .specialty .show-more{
    color: #6E5786;
    font-weight: 700;
}
.img-specialty{
    background-color: #fff;
    border-radius: 16px;
    width: 20%;
    height: 13rem;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
